In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
from ipynb.fs.full.Trustpilot_Webscraping import df_reviews
df_reviews.head()

,review_title,review_date,review_text,page_number,rating
0,It was a breeze booking the Washing…,2022-06-11,It was a breeze booking the Washing machine fr...,1,4
1,Alles is subliem afgeleverd .Perfect,2022-05-28,Alles is subliem afgeleverd .,1,5
2,Very bad company,2022-05-27,Very bad company. Paying way too much for even...,1,1
3,I really enjoyed the service,2022-05-18,"I really enjoyed the service, quite fast and p...",1,5
4,Very fast service,2022-05-13,"Very fast service , the drivers were very fast...",1,5

In [3]:
#pip install --upgrade deepl
import deepl

auth_key = "auth_key"  # Replace with the Deepl key
translator = deepl.Translator(auth_key)

In [25]:
usage = translator.get_usage()
if usage.any_limit_reached:
    print('Translation limit reached.')
if usage.character.valid:
    print(
        f"Character usage: {usage.character.count} of {usage.character.limit}")

Character usage: 343546 of 500000

In [20]:
df_reviews['title_text_concatenated'] = df_reviews['review_text'] + ' ' + df_reviews['review_title']
df_reviews['title_text_concatenated'] = df_reviews['title_text_concatenated'].astype(str)
df_reviews['title_text_concatenated'].head()

0    It was a breeze booking the Washing machine fr...
1    Alles is subliem afgeleverd . Alles is subliem...
2    Very bad company. Paying way too much for even...
3    I really enjoyed the service, quite fast and p...
4    Very fast service , the drivers were very fast...
Name: title_text_concatenated, dtype: object

In [18]:
# Translate multiple texts into British English
df_reviews['title_text_translated'] = translator.translate_text(df_reviews['title_text_concatenated'], 
                                                                target_lang = "EN-US") #formality = "more"

In [21]:
df_reviews['title_text_translated'].head()

0    It was a breeze booking the Washing machine fr...
1    Everything was delivered perfectly . Everythin...
2    Very bad company. Paying way too much for even...
3    I really enjoyed the service, quite fast and p...
4    Very fast service , the drivers were very fast...
Name: title_text_translated, dtype: object

In [24]:
df_reviews.to_csv('bluemovement.csv', encoding='utf-8')